@page
@model Disable2faModel
@{
    ViewData["Title"] = "Disable two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Essa ação apenas desabilita a A-2E.</strong>
    </p>
    <p>
        Desabilitar a Autenticação de 2 etapas não muda as chaves usadas para autenticação no aplicativo. Se deseja 
        mudar a chave usada, no autenticador você deverá <a asp-page="./ResetAuthenticator"> resetar sua chave.</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Desabilitar A-2E</button>
    </form>
</div>
