@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>Você não possui nenhum código de recuperação.</strong>
            <p>Você deve <a asp-page="./GenerateRecoveryCodes">gerar um novo conjunto de código de recuperação</a>
            antes de acessar a sua conta.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>Você tem 1 código de recuperação.</strong>
            <p>Você pode <a asp-page="./GenerateRecoveryCodes">gerar um novo conjunto</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>Você tem @Model.RecoveryCodesLeft códigos de recuperação.</strong>
            <p>Você deve <a asp-page="./GenerateRecoveryCodes">gerar um novo conjunto</a>.</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-default">Apagar chaves deste navegador</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-default">Desabilitar A-2E</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-default">Resetar código de recuperação</a>
}

<h5>Authenticator app</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">Adicionar autenticador</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">Configurar autenticador</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-default">Resetar autenticador</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}