<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YASTOA</title>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <section id="header">
        <a href="#"><img src="~/img/logo.png" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Produto" asp-action="Produtos">Produtos</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Blog">Blog</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contatos">Contatos</a></li>
                <partial name="_LoginPartial.cshtml" />
                <li id="lg-bag"><a id="lg-bag"><i class="far fa-shopping-bag"></i></a></li>
            </ul>
            <div class="cart">
                <h2 class="cart-title">Meu Carrinho</h2>

                <div class="cart-content">

                </div>

                <div class="total">
                    <div class="total-title">Total</div>
                    <div class="total-price">R$0</div>
                </div>

                <button type="button" class="btn1">Comprar</button>

                <i class="bx bx-x" id="close-cart"></i>
            </div>
            <div id="mobile">
                <a href="#"><i class="far fa-shopping-bag"></i></a>
                    <i id="bar" class="fas fa-outdent"></i>
            </div>
        </div>
    </section>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Inscreva-se para receber alerta de Novas Coleções e Reposições</h4>
            <p>Digite seu e-mail para receber os <span>Alertas</span> </p>
        </div>
        <div class="form">
            <input type="text" placeholder="Seu endereço de e-mail">
            <button class="button.normal">Increver-se</button>
        </div>
    </section>
    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="~/img/logo.png" alt="">
            <h4>Contato</h4>
            <p><strong>Endereço: </strong> Rua Além Paraíba, 100 Pedra Branca - São Paulo</p>
            <p><strong>Telefone:</strong> +44-000-888-999</p>
            <div class="follow">
                <h4>Redes sociais</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>Sobre</h4>
            <a asp-action="Sobre" asp-controller="Home">Sobre nós</a>
            <a href="#">Entrega de informação</a>
            <a href="#">Política de privacidade</a>
            <a href="#">Termos & Condições</a>
            <a href="#">Fale conosco</a>
        </div>

        <div class="col">
            <h4>Minha conta</h4>
            <a href="#"><partial name="_LoginPartial.cshtml"></a>
            <a href="#">Ver Carrinho</a>
            <a href="#">Lista de desejo</a>
            <a href="#">Pedidos</a>
            <a href="#">Ajuda</a>
        </div>

        <div class="col install">
            <h4>Baixe nosso app</h4>
            <p>Pelo App Store ou Google Play</p>
            <div class="row">
                <img src="~/img/pay/app.jpg" alt="">
                <img src="~/img/pay/play.jpg" alt="">
            </div>
            <p>Pagamentos seguros</p>
            <img src="~/img/pay/pay.png" alt="">
        </div>

        <div class="copyright">
            <p>&copy; YASTOA — Privacidade</p>
        </div>
    </footer>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>