
@{
    ViewData["Title"] = "PrimeiroProduto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="prodetails" class="section-p1">
    <div class="single-pro-image">
        <img src="~/img/products/Cocar-1.png" class="tamanhopro pro1" id="MainImg" alt="">
        <div class="small-img-group py-1">
            <div class="small-img-col">
                <img src="~/img/products/Cocar-1.png" class="small-img tamanhopro" alt="">
            </div>
            <div class="small-img-col">
                <img src="~/img/ProdutoExib/produtoexib3.jpg" class="small-img tamanhopro" alt="">
            </div>
            <div class="small-img-col">
                <img src="~/img/ProdutoExib/produtoexib2.jpg" class="small-img tamanhopro" alt="">
            </div>
            <div class="small-img-col">
                <img src="~/img/ProdutoExib/produtoexib5.jpg" class="small-img tamanhopro" alt="">
            </div>
        </div>

    </div>

    <div class="single-pro-details">
        <br />
        <h3 class="produto-titulo">Cocar "Arara"</h3>
        <br />
        <span>Nos rituais indígenas o cocar assume papel fundamental. Para muitos povos o seu valor espiritual reside principalmente na sua função em ligar o mundo sensível com o imaterial. Além disso, suas penas são consideradas presente dos pássaros para com aquele que as encontra na mata, dessa forma, o pássaro estaria o agraciando com seus elementos de poder espiritual.</span>
        <br />
        <br />
        <br />
        <h2 class="preco">R$130,00</h2>
        <p>Em até 3x de R$43,00 </p>
        <br />
        <button class='normal cart1'>Comprar</button>
    </div>
</section>

<section id="product1" class="section-p1">
    <h2>Produtos em Destaque</h2>
    <p>Produtos mais comprados</p>
    <div class="pro-container">
        <div class="pro">
            <img src="~/img/produstos2/produto 4.png" alt="" class="pro1">
            <div class="des">
                <span>Aldeia Fulni-ô</span>
                <h5 class="produto-titulo">Colar de Madeira Vermelho "Menor"</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4 class="preco">R$75,00</h4>
            </div>
            <i class='fal fa-shopping-cart cart1'></i>
        </div>
        <div class="pro">
            <img src="~/img/products/Maracas.png" alt="" class="pro1">
            <div class="des">
                <span>Aldeia Fulni-ô</span>
                <h5 class="produto-titulo">Maraca Personalizado</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4 class="preco">R$90,00</h4>
            </div>
            <i class='fal fa-shopping-cart cart1'></i>
        </div>
        <div class="pro">
            <img src="~/img/products/Tiara.png" alt="" class="pro1">
            <div class="des">
                <span>Aldeia Fulni-ô</span>
                <h5 class="produto-titulo">Tiara de Penas</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4 class="preco">R$40,00</h4>
            </div>
            <i class='fal fa-shopping-cart cart1'></i>
        </div>
        <div class="pro">
            <img src="~/img/produstos2/produto 7.png" alt="" class="pro1">
            <div class="des">
                <span>Aldeia Fulni-ô</span>
                <h5 class="produto-titulo">Colar de Madeira Verde e Amarelo</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4 class="preco">R$82,00</h4>
            </div>
            <i class='fal fa-shopping-cart cart1'></i>
        </div>

    </div>
</section>


