@model yastoaRecode.Models.Login.Login

@{
    ViewData["Title"] = "Cadastrar";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<hr />
<div class="row Cad">
    <div class="col-md-4">
        <form asp-action="Cadastrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" placeholder="Exemplo de Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" placeholder="444.444.444-04" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" placeholder="Rua exemplo, 642 - Estado/UF" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input type="email" asp-for="Email" placeholder="exemplo@email.com" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input type="password" asp-for="Senha" placeholder="Digite sua senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Criar" />
            </div>
            <div>
                <a asp-action="Index" asp-controller="Home">Voltar ao início</a>
            </div>
        </form>
    </div>
</div>




