
/*Limpando configurações CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*Formatação Contato*/

.wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



@media (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}



@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}



@media (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
}



@media (min-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
}




.d-grid {
    display: grid;
}



.text-center {
    text-align: center;
}



.text-left {
    text-align: left;
}



.text-right {
    text-align: right;
}



button,
select {
    outline: none;
    -webkit-appearance: none;
}



button,
.btn,
select {
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}



a {
    text-decoration: none;
}



iframe {
    border: none;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}



p {
    margin: 0;
    padding: 0;
}



/* Section top bottom gap */
.section-gap {
    padding: 4.5rem 0;
}



@media screen and (max-width:767px) {
    .section-gap {
        padding: 3.5rem 0;
    }
}



@media screen and (max-width:480px) {
    .section-gap {
        padding: 3rem 0;
    }
}



/* / Section top bottom gap */



/* title-styling */
h3.global-title {
    font-size: 40px;
    line-height: 45px;
    color: #16191e;
    margin-bottom: 50px;
    text-transform: capitalize;
}



@media screen and (max-width:767px) {
    h3.global-title {
        font-size: 40px;
        line-height: 45px;
    }
}



@media screen and (max-width:600px) {
    h3.global-title {
        font-size: 35px;
        line-height: 40px;
    }
}



@media screen and (max-width:500px) {
    h3.global-title {
        font-size: 30px;
        line-height: 35px;
    }
}



/* / title-styling */



.w3l-contact-12 a {
    display: inline-block;
}



.grid {
    display: grid;
}



.grid-column-2 {
    grid-template-columns: 1fr 1fr;
}



.contact-main {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
}



.header {
    color: #16191e;
    line-height: 50px;
    font-size: 45px;
}



.head-main {
    font-weight: normal;
    font-style: normal;
    max-width: 78%;
    font-size: 16px;
    line-height: 28px;
    color: #3B5266;
    margin-top: 25px;
}



.column2 a {
    text-decoration: none;
    color: #3B5266;
    line-height: 26px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
}



    .column2 a:hover {
        text-decoration: underline;
    }



.href1 {
    margin-top: 45px;
}



.href2 {
    margin-top: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}



.contact-para {
    color: #3B5266;
    line-height: 25px;
    font-size: 17px;
    margin-top: 10px;
}



.column2 span {
    font-size: 30px;
    color: #16191e;
    vertical-align: sub;
    margin-right: 10px;
    width: 35px;
    text-align: center;
}



.follow {
    margin-top: 45px;
    color: #16191e;
    font-size: 20px;
    font-style: normal;
    margin-bottom: 15px;
    font-weight: bold;
}



.column3 a {
    background: #000;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
}



    .column3 a.facebook {
        background: #3b5998;
    }



    .column3 a.twitter {
        background: #1da1f2;
    }



    .column3 a.google {
        background: #dd4b39;
    }



    .column3 a span {
        color: #fff;
        font-size: 18px;
    }



@media (max-width: 992px) {
    .grid-column-2 {
        grid-template-columns: 1fr;
    }



    .head-main {
        max-width: 100%;
    }
}



@media (max-width: 736px) {
    .contact-main {
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
    }
}



@media (max-width: 576px) {
    .header {
        line-height: 45px;
        font-size: 40px;
    }
}



@media (max-width: 480px) {
    .contact-main {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }



    .header {
        line-height: 40px;
        font-size: 35px;
    }
}



.d-grid {
    display: grid;
}



.grid-col-2 {
    grid-template-columns: 1fr 1fr;
}



.grid-col-3 {
    grid-template-columns: 1fr 1fr 1fr;
}



.grid-col-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}



a.action {
    border: none;
    color: #304659;
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    display: inline-block;
}



    a.action img {
        margin-left: 4px;
    }



.align-center {
    text-align: center;
}



.contacts-9 {
    min-height: 60vw;
    padding-bottom: 80px;
    position: relative;
}



h4.sub-feat-text {
    color: #16191e;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 40px;
}



p.sub-para {
    color: #3B5266;
    font-size: 17px;
    line-height: 25px;
    font-weight: normal;
    margin-bottom: 40px;
}



.map-content-9 form {
    display: grid;
    grid-gap: 20px;
    max-width: 650px;
    margin: 0 auto;
}



.twice-two {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}



.map-content-9 form input,
.map-content-9 form textarea {
    width: 100%;
    background: #fff;
    outline: none;
    width: 100%;
    font-size: 16px;
    padding: 15px 15px;
    color: #16191e;
    border: 2px solid #eee;
}



    .map-content-9 form input:focus,
    .map-content-9 form textarea:focus {
        border: 2px solid #16191e;
    }



.map-content-9 form textarea {
    resize: none;
    min-height: 140px;
}



button {
    cursor: -webkit-grab;
    font-weight: normal;
    margin: 0 auto;
    background: #16191e;
    color: #fff;
    text-decoration: none;
    padding: 0px 30px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: none;
    border-radius: 0px;
}



.map-content-9 {
    background: #fff;
    max-width: 946px;
    margin: 0 auto;
    padding: 60px 070px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -64%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.07);
}



.contacts-sub-9 {
    position: relative;
}



    .contacts-sub-9 iframe {
        width: 100%;
        min-height: 540px;
    }



@media (max-width: 1440px) {
    .contacts-9 {
        min-height: 67vw;
    }
}



@media (max-width: 1366px) {
    .contacts-9 {
        min-height: 71vw;
    }
}



@media (max-width: 1280px) {
    .contacts-sub-9 iframe {
        min-height: 450px;
    }



    .map-content-9 {
        bottom: -84%;
    }
}



@media (max-width: 1080px) {
    .contacts-9 {
        min-height: 84vw;
    }
}



@media (max-width: 1050px) {
    .contacts-9 {
        min-height: 87vw;
    }
}



@media (max-width: 1024px) {
    .contacts-9 {
        min-height: 90vw;
    }
}



@media (max-width: 991px) {
    .map-content-9 {
        max-width: 800px;
    }



    .contacts-9 {
        padding-bottom: 50px;
    }
}



@media (max-width: 900px) {
    .contacts-9 {
        min-height: 100vw;
    }
}



@media (max-width: 800px) {
    .map-content-9 {
        max-width: 600px;
    }



    h4.sub-feat-text {
        margin-bottom: 10px;
        font-size: 33px;
    }



    p.sub-para {
        font-size: 15px;
    }



    .map-content-9 {
        padding: 50px 50px;
    }



    .contacts-9 {
        min-height: 110vw;
    }
}



@media (max-width: 768px) {
    .contacts-sub-9 iframe {
        min-height: 410px;
    }



    .map-content-9 {
        bottom: -90%;
    }
}



@media (max-width: 736px) {
    .contacts-9 {
        min-height: 114vw;
    }
}



@media (max-width: 667px) {
    .contacts-9 {
        min-height: 126vw;
    }
}



@media (max-width: 640px) {
    .map-content-9 {
        padding: 40px;
        max-width: 500px;
    }



    .contacts-9 {
        min-height: 131vw;
    }
}



@media (max-width: 600px) {
    .contacts-9 {
        min-height: 140vw;
    }
}



@media (max-width: 568px) {
    .contacts-9 {
        min-height: 147vw;
    }
}



@media (max-width: 480px) {
    h4.sub-feat-text {
        margin-bottom: 8px;
        font-size: 30px;
    }



    p.sub-para {
        font-size: 14px;
        margin-bottom: 35px;
        line-height: 20px;
    }



    .map-content-9 {
        max-width: 400px;
        bottom: -108%;
    }



    .twice-two {
        grid-template-columns: 1fr;
    }



    button {
        width: 100%;
    }



    .contacts-9 {
        min-height: 190vw;
    }
}



@media (max-width: 414px) {
    .map-content-9 {
        padding: 40px 30px;
        margin: 0 1.5em;
    }



    .contacts-9 {
        min-height: 220vw;
    }
}



@media (max-width: 384px) {
    .map-content-9 {
        bottom: -118%;
    }



    h4.sub-feat-text {
        margin-bottom: 20px;
        font-size: 28px;
        line-height: 28px;
    }



    .contacts-9 {
        min-height: 248vw;
    }
}



@media (max-width: 375px) {
    .contacts-9 {
        min-height: 254vw;
    }
}



@media (max-width: 320px) {
    .map-content-9 {
        margin: 0 1em;
    }



    .contacts-9 {
        min-height: 296vw;
    }
}