
/*Limpando configurações CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*Formatação do Login*/
.box {
    padding: 40px;
    position: relative;
    left: 20px;
    text-align: center;
    border-radius: 12px;
}

    .box div > input[type="email"], input[type="password"]{
        border: 0;
        background: none;
        display: block;
        margin: 10px auto;
        text-align: center;
        border: 2px solid black;
        padding: 12px 40px;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
        font-size: 1em;
        color: black;
    }
    .box div > button{
        border-radius: 24px;
    }
    .Cad {
    margin-top:5px;
    padding-top: 5px;
    padding: 60px;
    padding-left: 1px;
    position: relative;
    left: 35%;
    text-align: left;
    border-radius: 24px;
    }
    .Cad form > input, button {
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
        font-size: 1em;
    }
