
@{ ViewData["Title"] = "Produtos"; }

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YASTOA</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <section id="page-header">

        <h2>Produtos Fulni-ô</h2>

    </section>

    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro">
                <img src="~/img/produstos2/produto 1.png" alt="" class="pro1">
                <div class="des">
                    <span>Aldeia Fulni-ô</span>
                    <h5 class="produto-titulo">Cocar Preto e Branco</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4 class="preco">R$180,00</h4>
                </div>
                <i class='fal fa-shopping-cart cart1'></i>
            </div>
            <div class="pro">
                <img src="~/img/produstos2/produto 10.png" alt="" class="pro1">
                <div class="des">
                    <span>Aldeia Fulni-ô</span>
                    <h5 class="produto-titulo">Cocar Amarelo e Preto</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4 class="preco">R$178,00</h4>
                </div>
                <i class='fal fa-shopping-cart cart1'></i>
            </div>
            <div class="pro">
                <img src="~/img/produstos2/produto 12.png" alt="" class="pro1">
                <div class="des">
                    <span>Aldeia Fulni-ô</span>
                    <h5 class="produto-titulo">Cocar Branco</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4 class="preco">R$190,00</h4>
                </div>
                <i class='fal fa-shopping-cart cart1'></i>
            </div>
            <div class="pro">
                <img src="~/img/produstos2/produto 13.png" alt="" class="pro1">
                <div class="des">
                    <span>Aldeia Fulni-ô</span>
                    <h5 class="produto-titulo">Kuripe</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4 class="preco">R$60,00</h4>
                </div>
                <i class='fal fa-shopping-cart cart1'></i>
            </div>
            <div class="pro">
                <img src="~/img/produstos2/produto 14.png" alt="" class="pro1">
                <div class="des">
                    <span>Aldeia Fulni-ô</span>
                    <h5 class="produto-titulo">Flauta Xamânica</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4 class="preco">R$200,00</h4>
                </div>
                <i class='fal fa-shopping-cart cart1'></i>
            </div>
            <div class="pro">
                <img src="~/img/produstos2/produto 15.png" alt="" class="pro1">
                <div class="des">
                    <span>Aldeia Fulni-ô</span>
                    <h5 class="produto-titulo">Cocar Azul e Branco</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4 class="preco">R$196,00</h4>
                </div>
                <i class='fal fa-shopping-cart cart1'></i>
            </div>
                <div class="pro">
                    <img src="~/img/produstos2/produto 16.png" alt="" class="pro1">
                    <div class="des">
                        <span>Aldeia Fulni-ô</span>
                        <h5 class="produto-titulo">Cocar Azul e Verde</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4 class="preco">R$186,00</h4>
                    </div>
                    <i class='fal fa-shopping-cart cart1'></i>
                </div>
                <div class="pro">
                    <img src="~/img/produstos2/produto 17.png" alt="" class="pro1">
                    <div class="des">
                        <span>Aldeia Fulni-ô</span>
                        <h5 class="produto-titulo">Cocar Azul Claro</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4 class="preco">R$179,00</h4>
                    </div>
                    <i class='fal fa-shopping-cart cart1'></i>
                </div>

                <div class="pro">
                    <img src="~/img/produstos2/produto 2.png" alt="" class="pro1">
                    <div class="des">
                        <span>Aldeia Fulni-ô</span>
                        <h5 class="produto-titulo">Colar de Madeira Branco</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4 class="preco">R$80,00</h4>
                    </div>
                    <i class='fal fa-shopping-cart cart1'></i>
                </div>
                <div class="pro">
                    <img src="~/img/produstos2/produto 3.png" alt="" class="pro1">
                    <div class="des">
                        <span>Aldeia Fulni-ô</span>
                        <h5 class="produto-titulo">Colar de Madeira Vermelho</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4 class="preco">R$79,00</h4>
                    </div>
                    <i class='fal fa-shopping-cart cart1'></i>
                </div>
                <div class="pro">
                    <img src="~/img/produstos2/produto 4.png" alt="" class="pro1">
                    <div class="des">
                        <span>Aldeia Fulni-ô</span>
                        <h5 class="produto-titulo">Colar de Madeira Vermelho "Menor"</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4 class="preco">R$75,00</h4>
                    </div>
                    <i class='fal fa-shopping-cart cart1'></i>
                </div>
                <div class="pro">
                    <img src="~/img/produstos2/produto 5.png" alt="" class="pro1">
                    <div class="des">
                        <span>Aldeia Fulni-ô</span>
                        <h5 class="produto-titulo">Colar de Madeira Azul</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4 class="preco">R$78,00</h4>
                    </div>
                    <i class='fal fa-shopping-cart cart1'></i>
                </div>
                <div class="pro">
                    <img src="~/img/produstos2/produto 7.png" alt="" class="pro1">
                    <div class="des">
                        <span>Aldeia Fulni-ô</span>
                        <h5 class="produto-titulo">Colar de Madeira Verde e Amarelo</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4 class="preco">R$82,00</h4>
                    </div>
                    <i class='fal fa-shopping-cart cart1'></i>
                </div>
                <div class="pro">
                    <img src="~/img/produstos2/produto 8.png" alt="" class="pro1">
                    <div class="des">
                        <span>Aldeia Fulni-ô</span>
                        <h5 class="produto-titulo">Brincos "Jamaica"</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4 class="preco">R$54,00</h4>
                    </div>
                    <i class='fal fa-shopping-cart cart1'></i>
                </div>
                <div class="pro">
                    <img src="~/img/produstos2/produto 9.png" alt="" class="pro1">
                    <div class="des">
                        <span>Aldeia Fulni-ô</span>
                        <h5 class="produto-titulo">Colar de Tucum</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4 class="preco">R$79,00</h4>
                    </div>
                    <i class='fal fa-shopping-cart cart1'></i>
                </div>
                <div class="pro">
                    <img src="~/img/produstos2/produto 11.png" alt="" class="pro1">
                    <div class="des">
                        <span>Aldeia Fulni-ô</span>
                        <h5 class="produto-titulo">Pulseira Vermelha</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4 class="preco">R$39,00</h4>
                    </div>
                    <i class='fal fa-shopping-cart cart1'></i>
                </div>
            </div>
    </section>

    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>
    </section>
    <script src="~/js/site.js"></script>
</body>
</html>