
@{
    ViewData["Title"] = "Blog";

}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contato</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/font-awesome.css">
</head>

<section id="blog">
    <div class="blog-box">
        <div class="blog-img">
            <img src="~/img/Blog/BlogNot1.png" alt="">
        </div>
        <div class="blog-details">
            <h4>Justiça anula licenciamento de projeto de mineração no RS por não ouvir indígenas</h4>
            <p>O projeto da Mina Guaíba, no Rio Grande do Sul, não fez consulta às comunidades guaranis que seriam diretamente afetadas pelo empreendimento, suspenso com a decisão judicial...</p>
            <a href="https://oeco.org.br/noticias/justica-anula-licenciamento-de-projeto-de-mineracao-no-rs-por-nao-ouvir-indigenas/">CONTINUE LENDO</a>
        </div>
        <h1>10/02</h1>
    </div>
    <div class="blog-box">
        <div class="blog-img">
            <img src="~/img/Blog/BlogNot2.jpeg" alt="">
        </div>
        <div class="blog-details">
            <h4>Ministério de Saúde distribui doses de vacinas para crianças indígenas</h4>
            <p>O Ministério da Saúde começou a distribuir, nesta quarta-feira (9/2), novas doses pediátricas da Pfizer para vacinação do público de 5 a 11 anos. A pauta de distribuição inclui imunizantes destinados a crianças indígenas...</p>
            <a href="https://www.metropoles.com/brasil/ministerio-de-saude-distribui-doses-de-vacinas-para-criancas-indigenas">CONTINUE LENDO</a>
        </div>
        <h1>09/02</h1>
    </div>
    <div class="blog-box">
        <div class="blog-img">
            <img src="~/img/Blog/BlogNot3.jpg" alt="">
        </div>
        <div class="blog-details">
            <h4>Consulado dos EUA oferece curso de inglês para negros e indígenas</h4>
            <p>O Consulado Geral dos Estados Unidos, em parceria com o Grupo +Unidos, realiza a segunda edição do Programa Access E2C 2022...</p>
            <a href="https://www.em.com.br/app/noticia/diversidade/2022/02/11/noticia-diversidade,1344179/consulado-dos-eua-oferece-curso-de-ingles-para-negros-e-indigenas.shtml">CONTINUE LENDO</a>
        </div>
        <h1>11/02</h1>
    </div>
    <div class="blog-box">
        <div class="blog-img">
            <img src="~/img/Blog/BlogNot4.jpeg" alt="">
        </div>
        <div class="blog-details">
            <h4>Indígenas iniciam reflorestamento de mais de 350 hectares em Rondônia e Mato Grosso</h4>
            <p>Mais de 300 iniciativas em sete terras indígenas em Rondônia e uma no noroeste do estado de Mato Grosso iniciaram o processo de restauração...</p>
            <a href="https://www.rondoniagora.com/cidades/indigenas-iniciam-reflorestamento-de-mais-de-350-hectares-em-rondonia-e-mato-grosso">CONTINUE LENDO</a>
        </div>
        <h1>14/02</h1>
    </div>
    <div class="blog-box">
        <div class="blog-img">
            <img src="~/img/Blog/BlogNot5.jpeg" alt="">
        </div>
        <div class="blog-details">
            <h4>Funai destinou R$ 33,5 milhões a ações de proteção a indígenas isolados e de recente contato em 2021</h4>
            <p>AFundação Nacional do Índio (Funai) destinou R$ 33,5 milhões a ações de proteção a indígenas isolados e de recente contato ao longo de 2021...</p>
            <a href="https://www.gov.br/funai/pt-br/assuntos/noticias/2022/funai-destinou-r-33-5-milhoes-a-acoes-de-protecao-a-indigenas-isolados-e-de-recente-contato-em-2021">CONTINUE LENDO</a>
        </div>
        <h1>08/02</h1>
    </div>
</section>

<section id="pagination" class="section-p1">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>
</section>