@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YASTOA</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>

</head>
<body>
    <section id="hero">
        <h1>Fulni-ô</h1>
    </section>
    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="img/features/f1.png" alt="">
            <h6>Envio Rápido</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/f2.png" alt="">
            <h6>Compra em menor tempo</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/f3.png" alt="">
            <h6>Compra segura</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/f4.png" alt="">
            <h6>Promoções</h6>
        </div>
    </section>
    <section id="product1" class="section-p1">
        <h2>Produtos em Destaque</h2>
        <br>
        <p>Nova Coleção</p>
        <div class="pro-container">
            <div class="pro">
                <img src="~/img/products/Cocar-1.png" alt="">
                <div class="des">
                    <span>Aldeia Fulni-ô</span>
                    <h5>Cocar "Arara"</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$130,00</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="~/img/products/Cocar-2.png" alt="">
                <div class="des">
                    <span>Aldeia Fulni-ô</span>
                    <h5>Cocar Azul</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$180,00</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="~/img/products/Abanilho.png" alt="">
                <div class="des">
                    <span>Aldeia Fulni-ô</span>
                    <h5>Abanilho Texturizado</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$90,00</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="~/img/products/Prendedor.png" alt="">
                <div class="des">
                    <span>Aldeia Fulni-ô</span>
                    <h5>Predendor de Cabelo</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$30,00</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="~/img/products/Cocar-3.png" alt="">
                <div class="des">
                    <span>Aldeia Fulni-ô</span>
                    <h5>Cocar Branco e Azul</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$160,00</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="~/img/products/Colar.png" alt="">
                <div class="des">
                    <span>Aldeia Fulni-ô</span>
                    <h5>Colar</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$36,00</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="~/img/products/Maracas.png" alt="">
                <div class="des">
                    <span>Aldeia Fulni-ô</span>
                    <h5>Maraca Personalizado</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$90,00</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="~/img/products/Tiara.png" alt="">
                <div class="des">
                    <span>Aldeia Fulni-ô</span>
                    <h5>Tiara de Penas</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>R$40,00</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
        </div>
    </section>
    <section id="banner3">
        <div class="banner-box">
        </div>
        <div class="banner-box banner-box2">
        </div>
        <div class="banner-box banner-box3">
        </div>
    </section>
</body>
</html>
    